# Python virtual environment
venv/

# Python cache files
__pycache__/
*.py[cod]

# Environment variables
.env

# IDE specific files
.vscode/
.idea/

# System files
.DS_Store

# Flask session files
flask_session/

# Log files
*.log